{% extends 'headerCRUD.html.jinja' %}


{% block content %}


    


    <h1 class="titulo"> {% block title %} Agregue un examen {% endblock %}</h1>

   

        <form method="POST" Content-Type='application/json'>

            <article>

            <div>
                <input type="hidden" step="de" class="form-control" name="IDExamen"  
                placeholder="IDExamen"
                value="{{ request.form['IDExamen'] }}">
                <br>
            </div> 

            <div>
                <label for="IDCategoria">Categorías disponibles: </label><br>
                <select id="IDCategoria" name="IDCategoria">
                {% for categoria in categorias %}
                    <option value="{{ categoria['IDCategoria'] }}">{{ categoria['Nombre'] }}</option>
                {% endfor %}
                </select><br>
            </div>
            
            <div>
                <label for="IDIndicacion">Indicaciones disponibles: </label><br>
                <select id="IDIndicacion" name="IDIndicacion">
                {% for indicacion in indicaciones %}
                    <option value="{{ indicacion['IDIndicacion'] }}">{{ indicacion['Descripcion'] }}</option>
                {% endfor %}
                </select><br>
            </div>
            
            <div>
                <label for="Nombre">Nombre: </label><br>
                <input type="text" class="form-control" name="Nombre" 
                placeholder="Nombre"
                value="{{ request.form['Nombre'] }}">
                <br>
            </div>

            <div>
                <label for="TipoMuestra">Tipo de Muestra: </label><br>
                <input type="text" class="form-control" name="TipoMuestra" 
                placeholder="TipoMuestra"
                value="{{ request.form['TipoMuestra'] }}">
                <br>
            </div>
            <div>
                <label for="Precio">Precio: </label><br>
                <input type="number" class="form-control" name="Precio" 
                placeholder="Precio"
                value="{{ request.form['Precio'] }}">
                <br>
            </div>
            <div>
                <label for="Descripcion">Descripción: </label><br>
                <input type="text" class="form-control" name="Descripcion" 
                placeholder="Descripcion"
                value="{{ request.form['Descripcion'] }}">
                <br>
            </div>
           
                <input div="formcenter" type="submit" value="Submit">
            </article>
        </form>
        




{% endblock %}
        
