{% extends 'basenologeado.html.jinja' %}


{% block content %}


    


    <h1 class="titulo"> {% block title %} Cree su usuario {% endblock %}</h1>

   

        <form class method="POST" Content-Type='application/json'>

            <article>

                
                
                <div>
                    <label for="Usuario">Nombre de usuario:: </label><br>
                    <input type="text" class="form-control" name="Usuario" 
                    placeholder="Usuario"
                    value="{{ request.form['Usuario'] }}">
                    <br>
                </div>
                <div>
                    <label for="Contrasena">Contraseña: </label><br>
                    <input type="password" class="form-control" name="Contrasena" 
                    placeholder="Contrasena"
                    value="{{ request.form['Contrasena'] }}">
                    <br>
                </div>
                <div> 
                    <label for="ContrasenaConfirmada">Confirma la contraseña: </label><br>
                    <input type="password" class="form-control" name="ContrasenaConfirmada" 
                    placeholder="ContrasenaConfirmada"
                    value="{{ request.form['ContrasenaConfirmada'] }}">
                    <br>
                </div>
        
            
                <input div="formcenter" type="submit" value="Submit"> 
                <br>
                <a href="{{url_for('iniciar_sesion')}}"> ¿Ya tienes cuenta? Iniciar sesión</a>
            </article>
        </form>

        

{% endblock %}