{% extends 'headerCRUD.html.jinja' %}


{% block content %}


    


    <h1 class="titulo"> {% block title %} Agregue indicaciones {% endblock %}</h1>

   

        <form class method="POST" Content-Type='application/json'>

            <article>

            <div>
                <input type="hidden" class="form-control" name="IDIndicacion" 
                placeholder="IDIndicacion"
                value="{{ request.form['IDIndicacion'] }}">
                <br>
            </div> 
            <div>
                <label for="Descripcion">Descripción: </label><br>
                <input type="text" class="form-control" name="Descripcion" 
                placeholder="Descripcion"
                value="{{ request.form['Descripcion'] }}">
                <br>
            </div>

           
            <input div="formcenter" type="submit" value="Submit">
        </form>
        </article>




{% endblock %}
</html>