 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{url_for('agregar_categoria')}}">Agregar Categoría</a>
        <a href="{{url_for('agregar_indicacion')}}">Agregar Indicaciones</a>
        <a href="{{url_for('agregar_examen')}}">Agregar exámen</a>
        <a href="{{url_for('mostrar_reporte')}}">Ver reporte</a>
    </nav>
   <div class="content">
    {% block content %} {% endblock %}
   </div> 
</body>
</html>