{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Examen{% endblock %}</h1>
    <ul>
        <li>
           Categoria: {{ examen.IDCategoria }} 
           TipoMuestra: {{ examen.TipoMuestra }} 
           Precio: {{ examen.Precio }} 
           Indicaciones: {{ examen.IDIndicacion }} 
        </li>
    </ul>
{% endblock %}




