{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Examen{% endblock %}</h1>
    <ul>
        <li>
           ID examen: {{ examen.Nombre }} 
           TipoMuestra: {{ examen.TipoMuestra }} 
           Nombre: {{ examen.Nombre }} 
           Precio: {{ examen.Precio }} 
           Indicaciones: {{ indicacion.Descripcion }} 
           Categoría: {{ categoria.Nombre }} 

           
        </li>
    </ul>
{% endblock %}




