 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{url_for('agregar_categoria')}}">Agregar Categoría</a>
        
      
    </nav>

    <header>
        <img src="static/img/Icono.png" alt="Logo">
</header>

    <div class="banner">
        <img class="Banner_img" src="static/img/Banner_1.png" alt="Banner_1"> 
    </div>
   <div class="content">
    {% block content %} {% endblock %}
   </div> 
</body>
</html>