{% extends 'basenologeado.html.jinja' %}


{% block content %}


    <div class="banner">
    <img class="Banner_img" src="\static\img/Captura.png" alt="Banner_1"> 
    </div>
    
    <div class="banner">
        <img class="Banner_img" src="\static\img/Captura.png" alt="Banner_1"> 
    </div>
        

{% endblock %}
