{% extends 'base.html.jinja' %}



{% block content %}
<h1>{% block title %} Mi lista {% endblock %}</h1>
    
    
    <table id="formcenter">

        <tr>
            <th>ID Categoria</th>
            <th>Nombre</th>
            <th>Descripcion </th>
        </tr>
        {% for categoria in categoriaList %}
        <tr>
            <td>{{ categoria.IDCategoria }}</td>
            <td>{{ categoria.Nombre}} </td>
            <td>{{ categoria.Descripcion }} </td>
            <td class="css"> 
                <button class="css" value="Modificar" onclick="window.location.href='/categoria/update/{{categoria._id}}' ;" >Modificar</button> 

                <form action="{{url_for('eliminar_categoria', id=categoria._id) }}" method="post">
                    <input class="css" type="submit" value="Eliminar">    
                </form> 
                
            </td>

        </tr>

           
           
        {% endfor %}
    </table>
{% endblock %}


