{% extends 'base.html.jinja' %}



{% block content %}
<h1>{% block title %} Mi lista {% endblock %}</h1>
    


    <table id="formcenter">

        <tr>
            <th>ID Indicación</th>
            <th>Nombre</th>
            <th>Descripcion </th>
        </tr>
        {% for indicacion in indicacionList %}
        <tr>
            <td>{{ indicacion.IDIndicacion }}</td>
            <td>{{ indicacion.Descripcion }} </td>
            <td class="css"> 
                <button class="css" value="Modificar" onclick="window.location.href='/indicaciones/update/{{indicacion._id}}' ;" >Modificar</button> 

                <form action="{{url_for('eliminar_indicacion', id=indicacion._id) }}" method="post">
                    <input class="css" type="submit" value="Eliminar">    
                </form> 
                
            </td>

        </tr>

           
           
        {% endfor %}
    </table>
{% endblock %}


