{% extends 'headerCRUD.html.jinja' %}

{% block content %}


    <h1 class="titulo"> {% block title %} Modifique la Indicación {% endblock %}</h1>

   

        <form class method="POST" Content-Type='application/json'>

            <article>

           
            <div>
                
                <input type="hidden" class="form-control" name="Nombre" 
                placeholder="Nombre"
                value="{{ indicacion.Nombre }}">
                <br>
            </div>
            <div>
                <label for="Descripcion">Descripción: </label><br>
                <input type="text" class="form-control" name="Descripcion" 
                placeholder="Descripcion"
                value="{{ indicacion.Descripcion }}">
                <br>
            </div>
           
            <input div="formcenter" type="submit" value="Submit">
        </form>
        </article>




{% endblock %}
