{% extends 'base.html.jinja' %}

{% block content %}
<h1>{% block title %} Reporte {% endblock %}</h1>

<h2>Cantidad de Exámenes por Categoría</h2>
<table id="categorias">
  <tr>
    <th>Categoría</th>
    <th>Cantidad de Exámenes</th>
  </tr>
  {% for categoria, cantidad in examenesxcategoria.items() %}
  <tr>
    <td>{{ categoria }}</td>
    <td>{{ cantidad }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Indicación de Examen Más Común</h2>
<p>{{ indicacionmascomun }}</p>

<h2>Exámenes Agrupados por Precio</h2>
<table id="precios">
  <tr>
    <th>Intervalo de Precio (Bs)</th>
    <th>Cantidad de Exámenes</th>
  </tr>
  <tr>
    <td>1 - 100</td>
    <td>{{ intervalodeprecios['1-100'] }}</td>
  </tr>
  <tr>
    <td>101 - 200</td>
    <td>{{ intervalodeprecios['101-200'] }}</td>
  </tr>
  <tr>
    <td>201 - 300</td>
    <td>{{ intervalodeprecios['201-300'] }}</td>
  </tr>
  <tr>
    <td>301 - 500</td>
    <td>{{ intervalodeprecios['301-500'] }}</td>
  </tr>
  <tr>
    <td>501+</td>
    <td>{{ intervalodeprecios['501+'] }}</td>
  </tr>
</table>

{% endblock %}
